body{
    font-family:'Montserrat',sans-serif;
    margin: 0;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
    
}
.sidebar{
 background-color: #000;
 width: 340px;
 border-radius: 1rem;
 margin-right: 0.4rem;
}
.main-content{
    background-color: #121212;
    flex:1;
    border-radius:1rem ;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
}
.music-player{
    background-color:black;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 72px;
}
a{
    color: white;
    text-decoration: none;
}
.nav{
    background-color:#121212;
    height: 112px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 12px 8px 12px;
}
.nav-option{
    line-height: 40px;
    opacity: 0.7;
    padding: 8px 8px;
    transition: all 0.2s linear;
}
.nav-option:hover{
    opacity: 1;
}
.nav-option i{
    font-size:1.25rem;
}
.nav-option a{
    font-size: 1.2rem;
    margin-left: 1.2rem;
}
.library{
   background-color: #121212;
   border-radius: 1rem;
   height: 100%;
   margin-top: 0.5rem;
   padding:0.5rem 0.5rem;
}
.option{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.lib-option img{
   height: 1.25rem;
   width:1.25rem;
}
.icons{
    font-size: 1.3rem;
    display: flex;
}
.icons i{
    opacity: 0.7;
    margin-right: 1rem;
    transition: all 0.2s linear;
}
.icons i:hover{
    opacity:1;
}
.box{
    height: 140px;
    background-color: #232323;
    border-radius: 0.75rem;
    padding:20px 20px ;
    margin:12px 0px 28px 0;
}
.box1{
   font-size: 1rem;
   font-weight: 500;
}
.box2{
    font-size: 0.9rem;
    opacity: 0.9;
}
.badge{
    background-color: #fff;
    border: none;
    border-radius:100px;
    padding: 4px 16px;
    font-weight:600;
    height:32px;
    margin-top:15px;
    width: fit-content;
}
.dark-one{
    background-color: #000;
    color: #fff;
}
.Sticky-nav{
    position:sticky;
    background-color: #121212;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem 1rem 0rem;
    z-index: 10;
}
.sticky-nav-icons {
    margin-left:14px;
}
.sticky-nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item{
    margin-right:1.5rem;
}
@media(max-width:1000px) {
    .Hide{
        display: none;
    }  
}
.card{
    background-color:#232323;
    width: 150px;
    border-radius: 8px;
    padding: 16px;
    margin-left:25px;
    margin-top: 16px;
}
.cards-container{
    display: flex;
    flex-wrap: wrap;

}
.card img{
 width: 150px;
 border-radius: 8px;
}
.card-title{
    font-weight: 600;
}
.card-info{
    opacity: 0.7;
    font-size: 0.85rem;
}
.footer{
    height:300px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.line{
    width:90%;
    height:50%;
    border-top:1px solid white;
    opacity: 0.4;
}
.music-player{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.album{
    width:25%;
    display: flex;
    align-items: center;
    margin-left: 12px;
    }
   .dua{
    margin-top: 20px;
    
}
.jetspary{
    margin-left: 12px;
}
   .album-dua{
    margin-bottom: 1px;
    font-weight: 600;
   }
   .album-dualipa{
    margin-top: 1px;
    opacity: 0.6;
   }
.dua img{
position: absolute;
   top:10px;
   border-radius: 5px;
   bottom:10px;
   left:50px;
   right: 20px;
    height:80px;
    width: 70px;
}
.player{
    width: 25%;
   
}
.controls{
    width: 25%;
    
}
.player-controls{
    display: flex;
    justify-content:center;
    align-items: center;
}
.player-control-icon{
    height: 16px;
    margin-left:2rem;
    opacity: 0.8;
}
.player-control-icon:hover{
    opacity: 1;
}
.playback-bar{
    display: flex;
    justify-items: center;
    align-items: center;
}
.progress-bar{
    width:80%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}
.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}
.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 16px;
    width: 16px;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;   
}
.jet{
    width: 100%;
    margin-left: 9rem;
    display: flex;
    justify-content: space-between;
    
}
.jet i{
    margin-left:16px;
    font-size: 20px;
}
.plag-jet{
    width:80%;
    appearance:none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 10px;
}

.plag-jet::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
    

}
.plag-jet::-webkit-slider-thumb{
    appearance: none;
      height: 16px;
      width: 16px;
      margin-top:-6px;     
      background-color:#1bd760; 
      border-radius: 50%; 
}