    body{
    font-family: "Montserrat", serif;
    margin:0;
    background-color: #000;
    color: #fff;
    overflow:hidden;
}
.main{
    display: flex;
     height: 100vh;
     padding:0.5rem;
}
.sidebar{
    
    background-color: #000;
    width:340px;
    border-radius:1rem;  /*16px*/
    margin-right: 0.5rem;   
}
.main-content{
    background-color: #121212;
    flex: 1;
    border-radius:1rem;
    overflow: auto;
    padding:0 1.5rem 0 1.5rem;
}
.music-Player{
    background-color: #000;
    position: fixed;
    bottom:0;
    width: 100%;
    height:72px;
}
a{
    text-decoration: none;
    color: white;
}
.nav{
    background-color: #121212;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    justify-content: center;
    height: 100px;
    padding:8px 12px 8px 12px;
}
.nav-option{
    line-height: 40px;
    opacity:0.7;
    padding:5px 10px 5px 10px;
}
.nav-option:hover{
    opacity: 1;
}
.nav-option i{
    font-size: 25px;
}
.nav-option a{
    font-size: 20px;
    margin-left: 1rem;
}
.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding:10px 20px 10px 20px;
}
.lib-option img{
    height: 1.25rem;
    width:1.25rem;
}
.options {
      display: flex;
      justify-content: space-between;
      align-items: center;
}
.options i{
    padding: 0px 8px 0px 8px;
    font-size:1.25rem;
    opacity: 0.7;
}
.options i:hover{
    opacity: 1;
}
.box1{
    height:140px;
    background-color: #232323;
    border-radius: 0.75rem;
    margin:14px 0px 14px 0px;
    padding:15px 20px 16px 20px;
}
.p1 {
    font-size: 16px;
     font-weight: 500;
     margin-top: 0.85rem;
     margin-bottom: 0.5rem;
}
.p2 {
    font-size: 0.75rem;
     opacity:0.9; 
     margin-top: 0.7rem;
     margin-bottom:0.5rem;
}
.badge{
    border-radius: 1rem;
    padding:0.25rem 0.9rem;
    margin-top: 0.85rem;
    font-weight: 700;
    height: 2rem;
    width: fit-content;
}
.stickynav{
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}
.dark-badge{
    background-color: #000;
    color: white;   
}
.dark-badge i{
    margin-right: 7px;
}
.sticky-nav-icons img{
    height: 1.6rem;
    margin-left: 0.75rem;
}
.nav-item{
    margin-right: 1rem;
}
@media(max-width:1000px){
     .hide{
        display: none;
     }
}
.card{
    background-color: #232323;
     width:150px;
     border-radius: 0.5rem;
     padding: 1rem;
     margin-left: 1.2rem;
     margin-top: 1.2rem;
}
.cardimg{
    width: 100%;
    border-radius: 0.45rem 0.45rem 0.45rem 0.45rem;
}

.card-title{
    font-weight: 600;
}
.card-info{
    font-size: 0.85rem;
    opacity:0.85;
}

.cards-container{
    display: flex; 
    flex-wrap: wrap;
}

.footer{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.linebreak{
    width: 90%;
    height: 30%;
    opacity: 0.4;
    border-top: 1px solid white;
}
.music-Player{
    display: flex;
  justify-content: space-between;
  align-items: center;

}

.Player{
    width: 50%;
}
.player-icon{
    height: 1.3rem;
      margin-left: 2rem;
      opacity: 0.7;
}

.player-icon-icon1{
    height: 2.3rem;
      margin-left: 2rem;
}

.player-icon:hover{
    height: 1.3rem;
      margin-left: 2rem;
      opacity: 1;
}
.player-controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.playbackbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progressbar{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}
.progressbar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}
.progressbar::-webkit-slider-runnable-track:hover{
    background-color: #1bd760;
    border-radius: 100px;
    height: 0.2rem;
}
.progressbar::-webkit-slider-thumb{
    appearance: none;
    background-color: #1bd760;
    height: 16px;
    width:16px;
    border-radius: 50%;
    margin-top: -6px;
}
.controls{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls i{
    margin-right: 1rem;
     opacity: 0.7;    
}
.controls i:hover{
    opacity: 1;
    
}
.album{
    width: 25%;
    display: flex;
    justify-content: start;
    align-items: center;
    
}
.album img{
    height: 70px;
    width:80%;
    margin-left: 1rem;
    margin-bottom: 0.3rem;
    margin-top: 0.5rem;
    margin-right: 1rem;
}
.dualipa{
    display: block;
      margin-left: 0.7rem;
}
.onedua{
    font-size: large;
    margin-bottom: 0.2rem;
}
.lipa{
    opacity: 0.6;
    font-size: medium;
}
.tv{
   height: 1rem;
   opacity: 1;
   margin-left: 2rem;
}
.tv1{
    margin-right: 1rem;
}